/* Geral */
* {
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;
}
a,p {
    font-family: 'Poppins', sans-serif;
  }
h1 {
  font-family: 'Playfair Display', serif;
  color: #2F3B37;
}

h2,h3,h4 {
  font-family: 'Poppins', sans-serif;
  color: #2F3B37;
}

#ball-orange-title {
    position: absolute;
    left: 105px;
    z-index: -1;
    background-color: #d4ab51;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  #ball-orange-h3 {
    position: absolute;
    left: 203px;
    top: 924px;
    z-index: -1;
    background-color: #d4ab51;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

    .direitos-autorais {
    font-size: 10px;
    text-align: center;
    color: #4F5A55;
  }
